In [1]:
#Import
import re
import pandas as pd
import numpy as np
from collections import Counter
from nltk.corpus import stopwords
from itertools import islice
#nltk.download()

In [2]:
#Loading the data
df = pd.read_excel('next_stop_is_vietnam.xlsx')

#Seeing it
df.head()

,CD,CD_Title,Song,Artist,Year,Lyrics,Notes
0,1,Mr. Where Is Viet Nam,NaN,The Kingston Trio,1962,"Where have all the flowers gone, long time pas...",NaN
1,1,Mr. Where Is Viet Nam,Soldier's Plea,Marvin Gaye,1962,"While I'm away, darling\nHow often do you thin...",NaN
2,1,Mr. Where Is Viet Nam,Letter to a Buddie,Joe Medwick,1963,[speech],NaN
3,1,Mr. Where Is Viet Nam,Soldiers Who Want To Be Heroes,Rod McKuen,1971,Soldiers who wanna be heroes\nNumber practical...,NaN
4,1,Mr. Where Is Viet Nam,The Cruel War,"Peter, Paul & Mary",1962,"The Cruel War is raging, Johnny has to fight\n...",NaN

In [4]:
#Creating a copy with only the lyrics
df2 = df.copy()
df2.Lyrics = df2.Lyrics.replace('-', '')
df2 = df2.dropna(subset=['Lyrics'])

df2.shape

(127, 7)

## Step 1: Working on the entire corpus
We will count frequencies on the entire corpus in order to have an idea on what the most common words are.

In [8]:
#Punctuation and numbers to be removed
punctuation = re.compile(r'[-.?!,\":;()|0-9]')

#Creating list of all lower case words
word_lists = [re.split('\\s+', x) for x in df2.Lyrics.str.lower()]

full_word_list = [item for sublist in word_lists for item in sublist]

#Removing Punctuation
words = (punctuation.sub("", word).strip() for word in full_word_list)
                         
#Removing stopwords
words = (word for word in words if word not in stopwords.words('english'))

In [9]:
#create dictionary of word:frequency pairs
frequencies = Counter(words)
#bigrams = (Counter(zip(re.findall(\"\\w+\", x), islice(re.findall(\"\\w+\", x), 1, None))) for x in df2.Lyrics)"

In [10]:
display(pd.DataFrame(frequencies.most_common(20)))

          0    1
0   vietnam  145
1       war  136
2      home  117
3       i'm  108
4       one  107
5        oh   94
6             91
7      know   88
8     bring   88
9       got   84
10    never   79
11     said   79
12     like   77
13      men   75
14     back   74
15     kill   74
16       go   73
17      man   72
18     love   71
19      'em   71

## Step 2: Fine graining to song level
Now that we looked at the entire document, we must work at song level to detect specificities

In [11]:
#Counting the bigrams
df2['Bigram_freq'] = [Counter(zip(re.findall("\w+", x), islice(re.findall("\w+", x), 1, None))) for x in df2.Lyrics]

#Making a list of words
df2['Word_list'] = [item for item in [re.split('\s+', x) for x in df2.Lyrics.str.lower()]]


#Removing punctuation
df2['Word_list'] = [[punctuation.sub("", word).strip() for word in x] for x in df2.Word_list]

#Removing stemmed words
df2['Word_list'] = [w for w in df2.Word_list if w not in stopwords.words('english')]

#Counting frequencies
df2['Frequencies'] = [Counter(x) for x in df2.Word_list]

In [12]:
df2.head()

,CD,CD_Title,Song,Artist,Year,Lyrics,Notes,Bigram_freq,Word_list,Frequencies
0,1,Mr. Where Is Viet Nam,NaN,The Kingston Trio,1962,"Where have all the flowers gone, long time pas...",NaN,"{('Where', 'have'): 13, ('have', 'all'): 15, (...","[where, have, all, the, flowers, gone, long, t...","{'where': 15, 'have': 15, 'all': 15, 'the': 15..."
1,1,Mr. Where Is Viet Nam,Soldier's Plea,Marvin Gaye,1962,"While I'm away, darling\nHow often do you thin...",NaN,"{('While', 'I'): 1, ('I', 'm'): 3, ('m', 'away...","[while, i'm, away, darling, how, often, do, yo...","{'while': 1, 'i'm': 3, 'away': 1, 'darling': 2..."
2,1,Mr. Where Is Viet Nam,Letter to a Buddie,Joe Medwick,1963,[speech],NaN,{},[[speech]],{'[speech]': 1}
3,1,Mr. Where Is Viet Nam,Soldiers Who Want To Be Heroes,Rod McKuen,1971,Soldiers who wanna be heroes\nNumber practical...,NaN,"{('Soldiers', 'who'): 11, ('who', 'wanna'): 11...","[soldiers, who, wanna, be, heroes, number, pra...","{'soldiers': 11, 'who': 22, 'wanna': 22, 'be':..."
4,1,Mr. Where Is Viet Nam,The Cruel War,"Peter, Paul & Mary",1962,"The Cruel War is raging, Johnny has to fight\n...",NaN,"{('The', 'Cruel'): 1, ('Cruel', 'War'): 1, ('W...","[the, cruel, war, is, raging, johnny, has, to,...","{'the': 2, 'cruel': 1, 'war': 1, 'is': 3, 'rag..."

## Step 3: Grouping by CD
Because each CD of the corpus has a specific theme, we will group the lyrics per CD in order to conduct a more meaningfull analysis.

In [13]:
#Removing non-alphabetical characters
pattern = re.compile('([^\s\w]|_)+')
df = df[df['Lyrics'].apply(lambda x: type(x)==str)]
df = df[df['Lyrics'].apply(lambda x: len(x)>5)]


groupedCD_df = df.groupby(["CD_Title", "CD"])['Lyrics'].apply(' '.join).reset_index()
groupedCD_df = groupedCD_df.sort_values('CD')

In [15]:
display(groupedCD_df)

,CD_Title,CD,Lyrics
6,Mr. Where Is Viet Nam,1,"Where have all the flowers gone, long time pas..."
8,Proud To Serve,2,"In nineteen hundred and sixty three, I was a s..."
1,Greeting (Uncle Sam Wants You),3,"Vietnam Vietnam, everybody cryin' about Vietna..."
2,Hell No-We Won't Go,4,Oh I marched to the battle of New Orleans\nAt ...
5,"It's America, Love It Or Leave It",5,"My dearest mama, they just gave us time to wri..."
12,War Is Hell,6,Wait until the war is over \nAnd we're both a ...
3,In Country' Voices,7,"Saigon's a strange city, on the river Mekong s..."
7,Peace Now,8,Silent soldiers on a silver screen\nFramed in ...
9,Seaching For Closure,9,Returning home from Vietnam\nI know back home ...
0,Beyond The Wall,10,"Detroit to d.C., night train, capitol, parts e..."
4,In The Rear View Mirror,11,Just smile for me and let the day begin\nYou a...
10,Vets Look Back,12,When I came back from Luang Prabang\nI didn't ...
11,Vietnam's After Effects,13,As I stand upon the shores of this land\nAnd I...

In [16]:
#Making a list of words
groupedCD_df['Word_list'] = [item for item in [re.split('\s+', x) for x in groupedCD_df.Lyrics.str.lower()]]


#Removing punctuation
groupedCD_df['Word_list'] = [[punctuation.sub("", word).strip() for word in x] for x in groupedCD_df.Word_list]

#Removing stopwords 
groupedCD_df['Word_list'] = [[x for x in Stringlist if x not in stopwords.words('english')] for Stringlist in groupedCD_df.Word_list]

#Counting frequencies
groupedCD_df['Frequencies'] = [Counter(x) for x in groupedCD_df.Word_list]

In [17]:
for i in groupedCD_df.index: 
    print('Most common words for CD {}: {}' .format(groupedCD_df.CD[i], groupedCD_df.CD_Title[i]))
    display(pd.DataFrame(groupedCD_df.Frequencies[i].most_common(20)))

Most common words for CD 1: Mr. Where Is Viet Nam

           0   1
0       gone  22
1      wanna  22
2        war  22
3      learn  21
4        boy  20
5      never  18
6      we're  18
7        i'm  17
8     school  17
9    learned  17
10      time  16
11  soldiers  16
12     today  16
13    that's  15
14      he's  15
15      like  14
16       one  13
17    little  13
18     world  13
19      said  13

Most common words for CD 2: Proud To Serve

          0   1
0       men  30
1       sky  14
2     never  14
3       one  11
4     proud  11
5        us  10
6      died  10
7   gallant  10
8   private  10
9     white  10
10            9
11  america   8
12    green   8
13    beret   8
14     must   7
15  soldier   6
16     good   6
17     high   6
18    danny   6
19    pilot   6

Most common words for CD 3: Greeting (Uncle Sam Wants You)

          0   1
0   vietnam  24
1       i'm  22
2        oh  20
3      need  16
4        go  16
5     right  15
6      baby  14
7       got  12
8       man  11
9     wanna   9
10      boy   9
11     love   9
12      let   8
13     i'll   8
14      god   7
15     know   7
16      old   7
17      yes   7
18      way   7
19   always   6

Most common words for CD 4: Hell No-We Won't Go

          0   1
0      kill  63
1       war  57
2     ain't  43
3    people  34
4     bring  30
5       big  26
6       let  26
7      home  26
8   there's  24
9     peace  23
10     good  23
11      say  23
12    let's  21
13      get  21
14     back  20
15      'em  20
16     stop  20
17    going  20
18     riot  20
19  vietnam  18

Most common words for CD 5: It's America, Love It Or Leave It

           0   1
0       wish  20
1        old  16
2      we're  15
3        man  15
4        way  15
5    america  15
6        men  13
7        i'm  13
8       said  12
9     little  12
10     still  12
11   country  12
12  fightin'  12
13        oh  11
14      side  11
15    things  10
16  marching  10
17      flag  10
18      know  10
19      away  10

Most common words for CD 6: War Is Hell

            0   1
0     vietnam  48
1         war  12
2       susan  12
3        west  11
4     waiting  11
5      better  10
6       coast  10
7        andy  10
8    fighting  10
9         run  10
10  galveston  10
11        hut   9
12     jungle   9
13        i'm   7
14       know   7
15        see   7
16      keeps   7
17   dragging   7
18    soldier   6
19         oh   6

Most common words for CD 7: In Country' Voices

         0   1
0   bamiba  39
1    green  21
2    jolly  18
3     back  15
4     i'll  14
5      wah  14
6     whoo  14
7       go  12
8      got  11
9     know   9
10   night   9
11    well   9
12     let   9
13    said   9
14     i'm   8
15   every   7
16    i've   7
17    come   6
18     one   6
19   plane   6

Most common words for CD 8: Peace Now

            0   1
0       peace  28
1      chance  28
2         one  20
3      saying  20
4        give  20
5         war  17
6        xmas  12
7          oh  11
8     there's  10
9        come  10
10     what's   9
11     pencil   9
12      marks   9
13       wall   9
14     please   9
15        man   9
16  according   9
17      happy   9
18       life   8
19        buy   8

Most common words for CD 9: Seaching For Closure

            0   1
0        kids  23
1      napalm  22
2      sticks  19
3         one  17
4        home  15
5         i'm  14
6        last  14
7        long  12
8   americans  10
9         i'd   9
10      could   9
11       well   9
12       i've   8
13      never   8
14       time   7
15       ruby   7
16        get   7
17       gone   7
18      still   6
19        got   6

Most common words for CD 10: Beyond The Wall

             0   1
0         i've  16
1         he's  15
2          got  15
3         line  14
4      vietnam  14
5               12
6         wall  10
7          see   9
8         time   9
9      walking   9
10        thin   9
11         boy   8
12       beach   8
13       party   8
14        tell   7
15         god   7
16        know   7
17      orange   7
18       still   7
19  copperhead   7

Most common words for CD 11: In The Rear View Mirror

           0   1
0       home  50
1      bring  49
2        'em  48
3       love  19
4       give  16
5      wings  15
6         us  14
7     reason  11
8             10
9       left  10
10    flying   9
11      high   9
12   running   8
13      girl   8
14      come   7
15  together   7
16       man   7
17      fire   7
18    'cause   7
19       fly   6

Most common words for CD 12: Vets Look Back

          0   1
0      hero  12
1      dead   9
2     mourn   8
3      land   8
4      free   8
5      want   8
6    follow   8
7             7
8     lawdy   6
9       i'm   5
10     army   5
11     wall   5
12     viet   4
13      vet   4
14     girl   4
15    never   4
16    women   4
17    still   4
18  fucking   3
19    every   3

Most common words for CD 13: Vietnam's After Effects

          0  1
0       got  7
1   vietnam  6
2    didnt  6
3      even  6
4        oh  5
5    killed  5
6      know  5
7      soon  4
8      told  4
9   doctors  4
10  pacific  3
11     like  3
12    never  3
13     news  3
14  morning  3
15    might  3
16   shores  2
17      sea  2
18    heart  2
19     pass  2