In [110]:
#Imports
import re
import pandas as pd
import numpy as np
from collections import Counter
from nltk.corpus import stopwords
from itertools import islice
#nltk.download()

In [111]:
#Loading the data
df = pd.read_excel('next_stop_is_vietnam.xlsx')

#Seeing it
df.head()

,CD,CD_Title,Song,Artist,Year,Lyrics,Notes
0,1,Mr. Where Is Viet Nam,NaN,The Kingston Trio,1962,"Where have all the flowers gone, long time pas...",NaN
1,1,Mr. Where Is Viet Nam,Soldier's Plea,Marvin Gaye,1962,"While I'm away, darling\nHow often do you thin...",NaN
2,1,Mr. Where Is Viet Nam,Letter to a Buddie,Joe Medwick,1963,[speech],NaN
3,1,Mr. Where Is Viet Nam,Soldiers Who Want To Be Heroes,Rod McKuen,1971,Soldiers who wanna be heroes\nNumber practical...,NaN
4,1,Mr. Where Is Viet Nam,The Cruel War,"Peter, Paul & Mary",1962,"The Cruel War is raging, Johnny has to fight\n...",NaN

In [112]:
#Creating a copy with only the lyrics
df2 = df.copy()
df2.Lyrics = df2.Lyrics.replace('-', '')
df2 = df2.dropna(subset=['Lyrics'])

df2.shape

(127, 7)

## Step 1: Working on the entire corpus
We will count frequencies on the entire corpus in order to have an idea on what the most common words are.

In [113]:
#Punctuation and numbers to be removed
punctuation = re.compile(r'[-.?!,":;()|0-9]')

#Creating list of all lower case words
word_lists = [re.split('\s+', x) for x in df2.Lyrics.str.lower()]

full_word_list = [item for sublist in word_lists for item in sublist]

#Removing Punctuation
words = (punctuation.sub("", word).strip() for word in full_word_list)

#Removing stopwords
words = (word for word in words if word not in stopwords.words('english'))

In [114]:
# create dictionary of word:frequency pairs
frequencies = Counter(words)


#bigrams = (Counter(zip(re.findall("\w+", x), islice(re.findall("\w+", x), 1, None))) for x in df2.Lyrics)

In [147]:
display(pd.DataFrame(frequencies.most_common(20)))

          0    1
0   vietnam  145
1       war  136
2      home  117
3       i'm  108
4       one  107
5        oh   94
6             91
7      know   88
8     bring   88
9       got   84
10    never   79
11     said   79
12     like   77
13      men   75
14     back   74
15     kill   74
16       go   73
17      man   72
18     love   71
19      'em   71

## Step 2: Fine graining to song level
Now that we looked at the entire document, we must work at song level to detect specificities

In [116]:
#Counting the bigrams
df2['Bigram_freq'] = [Counter(zip(re.findall("\w+", x), islice(re.findall("\w+", x), 1, None))) for x in df2.Lyrics]

#Making a list of words
df2['Word_list'] = [item for item in [re.split('\s+', x) for x in df2.Lyrics.str.lower()]]


#Removing punctuation
df2['Word_list'] = [[punctuation.sub("", word).strip() for word in x] for x in df2.Word_list]

#Removing stopwords 
df2['Word_list'] = [w for w in df2.Word_list if w not in stopwords.words('english')]

#Counting frequencies
df2['Frequencies'] = [Counter(x) for x in df2.Word_list]

In [146]:
df2

,CD,CD_Title,Song,Artist,Year,Lyrics,Notes,Bigram_freq,Word_list,Frequencies
0,1,Mr. Where Is Viet Nam,NaN,The Kingston Trio,1962,"Where have all the flowers gone, long time pas...",NaN,"{('Where', 'have'): 13, ('have', 'all'): 15, (...","[where, have, all, the, flowers, gone, long, t...","{'where': 15, 'have': 15, 'all': 15, 'the': 15..."
1,1,Mr. Where Is Viet Nam,Soldier's Plea,Marvin Gaye,1962,"While I'm away, darling\nHow often do you thin...",NaN,"{('While', 'I'): 1, ('I', 'm'): 3, ('m', 'away...","[while, i'm, away, darling, how, often, do, yo...","{'while': 1, 'i'm': 3, 'away': 1, 'darling': 2..."
2,1,Mr. Where Is Viet Nam,Letter to a Buddie,Joe Medwick,1963,[speech],NaN,{},[[speech]],{'[speech]': 1}
3,1,Mr. Where Is Viet Nam,Soldiers Who Want To Be Heroes,Rod McKuen,1971,Soldiers who wanna be heroes\nNumber practical...,NaN,"{('Soldiers', 'who'): 11, ('who', 'wanna'): 11...","[soldiers, who, wanna, be, heroes, number, pra...","{'soldiers': 11, 'who': 22, 'wanna': 22, 'be':..."
4,1,Mr. Where Is Viet Nam,The Cruel War,"Peter, Paul & Mary",1962,"The Cruel War is raging, Johnny has to fight\n...",NaN,"{('The', 'Cruel'): 1, ('Cruel', 'War'): 1, ('W...","[the, cruel, war, is, raging, johnny, has, to,...","{'the': 2, 'cruel': 1, 'war': 1, 'is': 3, 'rag..."
6,1,Mr. Where Is Viet Nam,"President Eisenhower speaks (January 17, 1961)",-,1961,,NaN,{},[],{'': 1}
7,1,Mr. Where Is Viet Nam,Masters Of War,Bob Dylan,1963,Masters of war\nBuild to destroy\nYou play wit...,NaN,"{('Masters', 'of'): 3, ('of', 'war'): 3, ('war...","[masters, of, war, build, to, destroy, you, pl...","{'masters': 3, 'of': 6, 'war': 4, 'build': 3, ..."
8,1,Mr. Where Is Viet Nam,Distant Drums,Jim Reeves,1966,"I hear the sound of distant drums\nFar away, f...",NaN,"{('I', 'hear'): 2, ('hear', 'the'): 2, ('the',...","[i, hear, the, sound, of, distant, drums, far,...","{'i': 4, 'hear': 2, 'the': 7, 'sound': 2, 'of'..."
9,1,Mr. Where Is Viet Nam,"Senator Wayne Morse speaks (August 2, 1964)",-,1964,,NaN,{},[],{'': 1}
10,1,Mr. Where Is Viet Nam,There's A War,Morty Gunty,-,,Seems to have been released with the compilati...,{},[],{'': 1}
11,1,Mr. Where Is Viet Nam,"President Johnson speaks (August 4, 1964)",-,1964,,NaN,{},[],{'': 1}
12,1,Mr. Where Is Viet Nam,What Did You Learn In School Today,Tom Paxton,1964,"What did you learn in school today, dear littl...",NaN,"{('What', 'did'): 5, ('did', 'you'): 8, ('you'...","[what, did, you, learn, in, school, today, dea...","{'what': 17, 'did': 8, 'you': 8, 'learn': 8, '..."
14,1,Mr. Where Is Viet Nam,Talking Vietnam,Phil Ochs,1964,Sailing over to Vietnam\nSoutheast Asian Birmi...,NaN,"{('Sailing', 'over'): 1, ('over', 'to'): 1, ('...","[sailing, over, to, vietnam, southeast, asian,...","{'sailing': 1, 'over': 2, 'to': 11, 'vietnam':..."
16,1,Mr. Where Is Viet Nam,The Willing Conscript,Pete Seeger,1964,Oh Sergeant I'm a draftee and I've just arrive...,NaN,"{('Oh', 'Sergeant'): 1, ('Sergeant', 'I'): 1, ...","[oh, sergeant, i'm, a, draftee, and, i've, jus...","{'oh': 5, 'sergeant': 5, 'i'm': 1, 'a': 3, 'dr..."
19,1,Mr. Where Is Viet Nam,Universal Soldier,Buffy Sainte-Marie,1964,He's five feet two and he's six feet four\nHe ...,NaN,"{('He', 's'): 7, ('s', 'five'): 1, ('five', 'f...","[he's, five, feet, two, and, he's, six, feet, ...","{'he's': 15, 'five': 1, 'feet': 2, 'two': 1, '..."
20,1,Mr. Where Is Viet Nam,The Universal Coward,Jan Berry,1966,"He’s young, he’s old, he’s in-between\nAnd he’...",NaN,"{('He', 's'): 3, ('s', 'young'): 1, ('young', ...","[he’s, young, he’s, old, he’s, inbetween, and,...","{'he’s': 9, 'young': 1, 'old': 1, 'inbetween':..."
21,1,Mr. Where Is Viet Nam,Eve Of Desctruction,Barry McGuire,1965,"The eastern world, it is explodin',\nViolence ...",NaN,"{('The', 'eastern'): 1, ('eastern', 'world'): ...","[the, eastern, world, it, is, explodin', viole...","{'the': 16, 'eastern': 1, 'world': 3, 'it': 2,..."
22,1,Mr. Where Is Viet Nam,The Dawn Of Correction,The Spokesmen,1965,The western world has a common dedication\nTo ...,NaN,"{('The', 'western'): 1, ('western', 'world'): ...","[the, western, world, has, a, common, dedicati...","{'the': 20, 'western': 1, 'world': 1, 'has': 1..."
24,1,Mr. Where Is Viet Nam,Lyndon Johnson Told The Nation,Tom Paxton,1965,"I got a letter from L.B.J\nIt said, ""This is y...",NaN,"{('I', 'got'): 1, ('got', 'a'): 1, ('a', 'lett...","[i, got, a, letter, from, lbj, it, said, this,...","{'i': 11, 'got': 2, 'a': 3, 'letter': 1, 'from..."
25,1,Mr. Where Is Viet Nam,7 O'clock News/Silent Night,Simon & Garkunkel,1966,This is the early evening edition of the news....,very calm song but in the back we hear the new...,"{('This', 'is'): 1, ('is', 'the'): 2, ('the', ...","[this, is, the, early, evening, edition, of, t...","{'this': 2, 'is': 6, 'the': 28, 'early': 1, 'e..."
26,1,Mr. Where Is Viet Nam,Christmas In Viet Nam,Private Charles Bowen & The Gentlemen From Tig...,NaN,I have to spend my Christmas here in Vietnam\n...,NaN,"{('I', 'have'): 3, ('have', 'to'): 3, ('to', '...","[i, have, to, spend, my, christmas, here, in, ...","{'i': 11, 'have': 3, 'to': 8, 'spend': 1, 'my'..."
28,2,Proud To Serve,Battle Of Vietnam,Jimmy Jack,1964,"In nineteen hundred and sixty three, I was a s...",NaN,"{('In', 'nineteen'): 1, ('nineteen', 'hundred'...","[in, nineteen, hundred, and, sixty, three, i, ...","{'in': 2, 'nineteen': 1, 'hundred': 1, 'and': ..."
30,2,Proud To Serve,Hello Vietnam,Johnnie Wright,1965,"Kiss, me goodbye and write me while I'm gone \...",NaN,"{('Kiss', 'me'): 3, ('me', 'goodbye'): 3, ('go...","[kiss, me, goodbye, and, write, me, while, i'm...","{'kiss': 3, 'me': 6, 'goodbye': 3, 'and': 5, '..."
33,2,Proud To Serve,Fightin' For The U.S.A.,Jerry Reed,1965,when uncle sam found that i wasnt married\nhe ...,NaN,"{('when', 'uncle'): 1, ('uncle', 'sam'): 2, ('...","[when, uncle, sam, found, that, i, wasnt, marr...","{'when': 2, 'uncle': 2, 'sam': 2, 'found': 1, ..."
34,2,Proud To Serve,The Ballad Of The Green Berets,Staff Sgt Barry Sadler,NaN,Fighting soldiers from the sky\nFearless men w...,"Patriotic song about the Green Berets, an elit...","{('Fighting', 'soldiers'): 1, ('soldiers', 'fr...","[fighting, soldiers, from, the, sky, fearless,...","{'fighting': 1, 'soldiers': 1, 'from': 2, 'the..."
38,2,Proud To Serve,The 'A' Team,Staff Sgt Barry Sadler,1966,12 men strong and true\n12 men fight for you\n...,NaN,"{('12', 'men'): 7, ('men', 'strong'): 1, ('str...","[, men, strong, and, true, , men, fight, for, ...","{'': 7, 'men': 8, 'strong': 1, 'and': 1, 'true..."
46,2,Proud To Serve,Gallant Men,Everett McKinley Dirksen,1966,Down through the years\nThere have been men\nB...,NaN,"{('Down', 'through'): 1, ('through', 'the'): 1...","[down, through, the, years, there, have, been,...","{'down': 1, 'through': 1, 'the': 3, 'years': 1..."
49,2,Proud To Serve,Private Wilson White,Marty Robbins,1966,"Private Wilson White, America is proud tonight...",NaN,"{('Private', 'Wilson'): 5, ('Wilson', 'White')...","[private, wilson, white, america, is, proud, t...","{'private': 10, 'wilson': 5, 'white': 10, 'ame..."
50,2,Proud To Serve,Danny Fernandez,Eddy Harrison,NaN,Danny died a hero's dead\nAs some'd died befor...,NaN,"{('Danny', 'died'): 3, ('died', 'a'): 3, ('a',...","[danny, died, a, hero's, dead, as, some'd, die...","{'danny': 6, 'died': 7, 'a': 4, 'hero's': 3, '..."
51,2,Proud To Serve,Sky Pilot (Part One),Eric Burdon and The Animals,1968,He blesses the boys as they stand in line\nThe...,NaN,"{('He', 'blesses'): 1, ('blesses', 'the'): 1, ...","[he, blesses, the, boys, as, they, stand, in, ...","{'he': 9, 'blesses': 1, 'the': 23, 'boys': 1, ..."
...,...,...,...,...,...,...,...,...,...,...
242,9,Seaching For Closure,Hanoi Hannah,Roger McGuinn,1973,Hanoi Hannah averaged 'bout a man a day\nAnd w...,"Hanoi Hannah, was a Vietnamese radio personali...","{('Hanoi', 'Hannah'): 2, ('Hannah', 'averaged'...","[hanoi, hannah, averaged, 'bout, a, man, a, da...","{'hanoi': 5, 'hannah': 6, 'averaged': 1, ''bou..."
245,9,Seaching For Closure,Napalm Sticks To Kids,The Covered Wagon Musicians,1972,"We shoot the sick, the young, the lame,\n\nWe ...",NaN,"{('We', 'shoot'): 1, ('shoot', 'the'): 1, ('th...","[we, shoot, the, sick, the, young, the, lame, ...","{'we': 2, 'shoot': 2, 'the': 18, 'sick': 1, 'y..."
246,9,Seaching For Closure,The Americans (A Canadian's Opinion),Gordon Sinclair,1973,The United States dollar took another pounding...,NaN,"{('The', 'United'): 1, ('United', 'States'): 4...","[the, united, states, dollar, took, another, p...","{'the': 54, 'united': 4, 'states': 4, 'dollar'..."
251,9,Seaching For Closure,Born On The Fourth Of July,Tom Paxton,1977,As a schoolboy I played with a plastic grenade...,NaN,"{('As', 'a'): 2, ('a', 'schoolboy'): 1, ('scho...","[as, a, schoolboy, i, played, with, a, plastic...","{'as': 3, 'a': 4, 'schoolboy': 1, 'i': 13, 'pl..."
252,9,Seaching For Closure,Khe Sanh,Cold Chisel,1978,I left my heart to the sappers round Khe Sanh\...,NaN,"{('I', 'left'): 1, ('left', 'my'): 1, ('my', '...","[i, left, my, heart, to, the, sappers, round, ...","{'i': 5, 'left': 1, 'my': 4, 'heart': 1, 'to':..."
254,9,Seaching For Closure,Still In Saigon,The Charle Daniels Band,1982,Got on a plane in 'Frisco\nAnd got off in Viet...,NaN,"{('Got', 'on'): 1, ('on', 'a'): 1, ('a', 'plan...","[got, on, a, plane, in, 'frisco, and, got, off...","{'got': 3, 'on': 2, 'a': 4, 'plane': 1, 'in': ..."
255,10,Beyond The Wall,The Big Parade,10000 Maniacs,1989,"Detroit to d.C., night train, capitol, parts e...",NaN,"{('Detroit', 'to'): 1, ('to', 'd'): 1, ('d', '...","[detroit, to, dc, night, train, capitol, parts...","{'detroit': 1, 'to': 8, 'dc': 1, 'night': 1, '..."
257,10,Beyond The Wall,More Than One Name On The Wall,The Statler Brothers,1988,"I saw her from a distance, as she walked up to...",NaN,"{('I', 'saw'): 1, ('saw', 'her'): 1, ('her', '...","[i, saw, her, from, a, distance, as, she, walk...","{'i': 6, 'saw': 1, 'her': 4, 'from': 1, 'a': 6..."
258,10,Beyond The Wall,I Was Only 19 (A Walk In The Light Green),Redgum,1983,Mum and dad and Danny saw the passing out para...,NaN,"{('Mum', 'and'): 1, ('and', 'dad'): 1, ('dad',...","[mum, and, dad, and, danny, saw, the, passing,...","{'mum': 1, 'and': 33, 'dad': 1, 'danny': 1, 's..."
259,10,Beyond The Wall,19,Paul Hardcastle,1985,\nIn 1965 Vietnam seemed like just another for...,NaN,"{('In', '1965'): 1, ('1965', 'Vietnam'): 1, ('...","[, in, , vietnam, seemed, like, just, another,...","{'': 12, 'in': 5, 'vietnam': 4, 'seemed': 1, '..."
261,10,Beyond The Wall,Walking On A Thin Line,Huey Lewis & The News,1983,Sometimes in my bed at night\nI curse the dark...,NaN,"{('Sometimes', 'in'): 1, ('in', 'my'): 1, ('my...","[sometimes, in, my, bed, at, night, i, curse, ...","{'sometimes': 3, 'in': 1, 'my': 5, 'bed': 1, '..."
262,10,Beyond The Wall,Orange Crush,R.E.M.,1988,"I've got my spine, I've got my orange crush\n(...",NaN,"{('I', 've'): 15, ('ve', 'got'): 12, ('got', '...","[i've, got, my, spine, i've, got, my, orange, ...","{'i've': 15, 'got': 12, 'my': 15, 'spine': 6, ..."
263,10,Beyond The Wall,Old Hippie,Bellamy Brothers,1985,He turned thirty-five last Sunday\nIn his hair...,NaN,"{('He', 'turned'): 1, ('turned', 'thirty'): 1,...","[he, turned, thirtyfive, last, sunday, in, his...","{'he': 20, 'turned': 1, 'thirtyfive': 1, 'last..."
264,10,Beyond The Wall,Copperhead Road,Steve Earl,1988,Well my name's John Lee Pettimore\nSame as my ...,NaN,"{('Well', 'my'): 1, ('my', 'name'): 1, ('name'...","[well, my, name's, john, lee, pettimore, same,...","{'well': 4, 'my': 5, 'name's': 1, 'john': 1, '..."
265,10,Beyond The Wall,Beach Party Vietnam,The Dead Milkmen,1986,It's a beach party Vietnam\nSurfin' with the V...,NaN,"{('It', 's'): 1, ('s', 'a'): 1, ('a', 'beach')...","[it's, a, beach, party, vietnam, surfin', with...","{'it's': 1, 'a': 8, 'beach': 8, 'party': 8, 'v..."
274,11,In The Rear View Mirror,Cowboys On Horses With Wings,Hoyt Axton,NaN,Just smile for me and let the day begin\nYou a...,NaN,"{('Just', 'smile'): 1, ('smile', 'for'): 1, ('...","[just, smile, for, me, and, let, the, day, beg...","{'just': 2, 'smile': 1, 'for': 1, 'me': 4, 'an..."
275,11,In The Rear View Mirror,Big Time In The Jungle,Old Crow Medicine Show,2004,"Down in Eutaw, Alabama in 1965\nA young man ‘b...",NaN,"{('Down', 'in'): 1, ('in', 'Eutaw'): 1, ('Euta...","[down, in, eutaw, alabama, in, , a, young, man...","{'down': 2, 'in': 6, 'eutaw': 2, 'alabama': 1,..."
276,11,In The Rear View Mirror,Galveston Bay,Bruce Springsteen,1995,Fifteen years Le Bing Son\nFought side by side...,NaN,"{('Fifteen', 'years'): 1, ('years', 'Le'): 1, ...","[fifteen, years, le, bing, son, fought, side, ...","{'fifteen': 1, 'years': 1, 'le': 4, 'bing': 1,..."
278,11,In The Rear View Mirror,8th Of November,Big & Rich,2005,Said goodbye to his momma as he left South Dak...,NaN,"{('Said', 'goodbye'): 2, ('goodbye', 'to'): 2,...","[said, goodbye, to, his, momma, as, he, left, ...","{'said': 3, 'goodbye': 2, 'to': 6, 'his': 9, '..."
279,11,In The Rear View Mirror,Some Gave All,Billy Ray Cyrus,1992,I knew a man called him Sandy Kane\nFew folks ...,NaN,"{('I', 'knew'): 1, ('knew', 'a'): 1, ('a', 'ma...","[i, knew, a, man, called, him, sandy, kane, fe...","{'i': 2, 'knew': 2, 'a': 4, 'man': 2, 'called'..."
281,11,In The Rear View Mirror,The Girl In The Picture (Napalm Girl),Yanah,2003,"she's only a child\na running, naked child\nso...",NaN,"{('she', 's'): 8, ('s', 'only'): 2, ('only', '...","[she's, only, a, child, a, running, naked, chi...","{'she's': 8, 'only': 3, 'a': 5, 'child': 3, 'r..."
285,11,In The Rear View Mirror,Bring Them Home,Pete Seeger,NaN,If you love this land of the free\nBring 'em h...,NaN,"{('If', 'you'): 2, ('you', 'love'): 2, ('love'...","[if, you, love, this, land, of, the, free, bri...","{'if': 2, 'you': 3, 'love': 2, 'this': 2, 'lan..."
288,11,In The Rear View Mirror,Don't Give Us A Reason,Hank Williams Jr.,1990,Hey ol' Saddom you figured wrong\nWhen you tho...,NaN,"{('Hey', 'ol'): 1, ('ol', 'Saddom'): 1, ('Sadd...","[hey, ol', saddom, you, figured, wrong, when, ...","{'hey': 2, 'ol'': 2, 'saddom': 2, 'you': 12, '..."
289,11,In The Rear View Mirror,Theme For An American Hero,Chip Taylor,2001,"Set me up straight in my chair, comb my hair.\...",NaN,"{('Set', 'me'): 2, ('me', 'up'): 2, ('up', 'st...","[set, me, up, straight, in, my, chair, comb, m...","{'set': 2, 'me': 5, 'up': 2, 'straight': 2, 'i..."
291,12,Vets Look Back,Luang Prabang,Patrick Sky,1973,When I came back from Luang Prabang\nI didn't ...,NaN,"{('When', 'I'): 1, ('I', 'came'): 1, ('came', ...","[when, i, came, back, from, luang, prabang, i,...","{'when': 2, 'i': 4, 'came': 1, 'back': 1, 'fro..."
294,12,Vets Look Back,Viet Vet,Dick Jonas,1973,"Viet vet, Viet vet; super shit-hot fighter joc...",NaN,"{('Viet', 'vet'): 4, ('vet', 'Viet'): 1, ('vet...","[viet, vet, viet, vet, super, shithot, fighter...","{'viet': 4, 'vet': 4, 'super': 1, 'shithot': 1..."
304,12,Vets Look Back,The Girl Next Door (Combat Nurse),Country Joe McDonald,1984,"She grew up in America, just the girl next doo...",NaN,"{('She', 'grew'): 1, ('grew', 'up'): 1, ('up',...","[she, grew, up, in, america, just, the, girl, ...","{'she': 2, 'grew': 1, 'up': 1, 'in': 9, 'ameri..."
307,12,Vets Look Back,The Wall,Tim Murphy,NaN,"On a drizzly D.C. morning, in the middle of Ju...",Written by Tim Murphy and recorded by Mike McC...,"{('On', 'a'): 1, ('a', 'drizzly'): 1, ('drizzl...","[on, a, drizzly, dc, morning, in, the, middle,...","{'on': 1, 'a': 18, 'drizzly': 1, 'dc': 1, 'mor..."
318,13,Vietnam's After Effects,The Jungleman,Lonnie Chance,2000,As I stand upon the shores of this land\nAnd I...,NaN,"{('As', 'I'): 1, ('I', 'stand'): 1, ('stand', ...","[as, i, stand, upon, the, shores, of, this, la...","{'as': 4, 'i': 7, 'stand': 1, 'upon': 1, 'the'..."
319,13,Vietnam's After Effects,Agent Orange Song,Country Joe McDonald,1985,"I was 17, just a teenage kid, the year that I ...",NaN,"{('I', 'was'): 1, ('was', '17'): 1, ('17', 'ju...","[i, was, , just, a, teenage, kid, the, year, t...","{'i': 22, 'was': 2, '': 1, 'just': 2, 'a': 3, ..."

## Step 3: Grouping by CD
Because each CD of the corpus has a specific theme, we will group the lyrics per CD in order to conduct a more meaningfull analysis.

In [139]:
#Removing non-alphabetical characters
pattern = re.compile('([^\s\w]|_)+')
df = df[df['Lyrics'].apply(lambda x: type(x)==str)]
df = df[df['Lyrics'].apply(lambda x: len(x)>5)]


groupedCD_df = df.groupby(["CD_Title", "CD"])['Lyrics'].apply(' '.join).reset_index()
groupedCD_df = groupedCD_df.sort_values('CD')

In [140]:
display(groupedCD_df)

,CD_Title,CD,Lyrics
6,Mr. Where Is Viet Nam,1,"Where have all the flowers gone, long time pas..."
8,Proud To Serve,2,"In nineteen hundred and sixty three, I was a s..."
1,Greeting (Uncle Sam Wants You),3,"Vietnam Vietnam, everybody cryin' about Vietna..."
2,Hell No-We Won't Go,4,Oh I marched to the battle of New Orleans\nAt ...
5,"It's America, Love It Or Leave It",5,"My dearest mama, they just gave us time to wri..."
12,War Is Hell,6,Wait until the war is over \nAnd we're both a ...
3,In Country' Voices,7,"Saigon's a strange city, on the river Mekong s..."
7,Peace Now,8,Silent soldiers on a silver screen\nFramed in ...
9,Seaching For Closure,9,Returning home from Vietnam\nI know back home ...
0,Beyond The Wall,10,"Detroit to d.C., night train, capitol, parts e..."
4,In The Rear View Mirror,11,Just smile for me and let the day begin\nYou a...
10,Vets Look Back,12,When I came back from Luang Prabang\nI didn't ...
11,Vietnam's After Effects,13,As I stand upon the shores of this land\nAnd I...

In [142]:
#Making a list of words
groupedCD_df['Word_list'] = [item for item in [re.split('\s+', x) for x in groupedCD_df.Lyrics.str.lower()]]


#Removing punctuation
groupedCD_df['Word_list'] = [[punctuation.sub("", word).strip() for word in x] for x in groupedCD_df.Word_list]

#Removing stopwords 
groupedCD_df['Word_list'] = [[x for x in Stringlist if x not in stopwords.words('english')] for Stringlist in groupedCD_df.Word_list]

#Counting frequencies
groupedCD_df['Frequencies'] = [Counter(x) for x in groupedCD_df.Word_list]

In [145]:
for i in groupedCD_df.index: 
    print('Most common words for CD {}: {}' .format(groupedCD_df.CD[i], groupedCD_df.CD_Title[i]))
    display(pd.DataFrame(groupedCD_df.Frequencies[i].most_common(20)))

Most common words for CD 1: Mr. Where Is Viet Nam

           0   1
0       gone  22
1      wanna  22
2        war  22
3      learn  21
4        boy  20
5      never  18
6      we're  18
7        i'm  17
8     school  17
9    learned  17
10      time  16
11  soldiers  16
12     today  16
13    that's  15
14      he's  15
15      like  14
16       one  13
17    little  13
18     world  13
19      said  13

Most common words for CD 2: Proud To Serve

          0   1
0       men  30
1       sky  14
2     never  14
3       one  11
4     proud  11
5        us  10
6      died  10
7   gallant  10
8   private  10
9     white  10
10            9
11  america   8
12    green   8
13    beret   8
14     must   7
15  soldier   6
16     good   6
17     high   6
18    danny   6
19    pilot   6

Most common words for CD 3: Greeting (Uncle Sam Wants You)

          0   1
0   vietnam  24
1       i'm  22
2        oh  20
3      need  16
4        go  16
5     right  15
6      baby  14
7       got  12
8       man  11
9     wanna   9
10      boy   9
11     love   9
12      let   8
13     i'll   8
14      god   7
15     know   7
16      old   7
17      yes   7
18      way   7
19   always   6

Most common words for CD 4: Hell No-We Won't Go

          0   1
0      kill  63
1       war  57
2     ain't  43
3    people  34
4     bring  30
5       big  26
6       let  26
7      home  26
8   there's  24
9     peace  23
10     good  23
11      say  23
12    let's  21
13      get  21
14     back  20
15      'em  20
16     stop  20
17    going  20
18     riot  20
19  vietnam  18

Most common words for CD 5: It's America, Love It Or Leave It

           0   1
0       wish  20
1        old  16
2      we're  15
3        man  15
4        way  15
5    america  15
6        men  13
7        i'm  13
8       said  12
9     little  12
10     still  12
11   country  12
12  fightin'  12
13        oh  11
14      side  11
15    things  10
16  marching  10
17      flag  10
18      know  10
19      away  10

Most common words for CD 6: War Is Hell

            0   1
0     vietnam  48
1         war  12
2       susan  12
3        west  11
4     waiting  11
5      better  10
6       coast  10
7        andy  10
8    fighting  10
9         run  10
10  galveston  10
11        hut   9
12     jungle   9
13        i'm   7
14       know   7
15        see   7
16      keeps   7
17   dragging   7
18    soldier   6
19         oh   6

Most common words for CD 7: In Country' Voices

         0   1
0   bamiba  39
1    green  21
2    jolly  18
3     back  15
4     i'll  14
5      wah  14
6     whoo  14
7       go  12
8      got  11
9     know   9
10   night   9
11    well   9
12     let   9
13    said   9
14     i'm   8
15   every   7
16    i've   7
17    come   6
18     one   6
19   plane   6

Most common words for CD 8: Peace Now

            0   1
0       peace  28
1      chance  28
2         one  20
3      saying  20
4        give  20
5         war  17
6        xmas  12
7          oh  11
8     there's  10
9        come  10
10     what's   9
11     pencil   9
12      marks   9
13       wall   9
14     please   9
15        man   9
16  according   9
17      happy   9
18       life   8
19        buy   8

Most common words for CD 9: Seaching For Closure

            0   1
0        kids  23
1      napalm  22
2      sticks  19
3         one  17
4        home  15
5         i'm  14
6        last  14
7        long  12
8   americans  10
9         i'd   9
10      could   9
11       well   9
12       i've   8
13      never   8
14       time   7
15       ruby   7
16        get   7
17       gone   7
18      still   6
19        got   6

Most common words for CD 10: Beyond The Wall

             0   1
0         i've  16
1         he's  15
2          got  15
3         line  14
4      vietnam  14
5               12
6         wall  10
7          see   9
8         time   9
9      walking   9
10        thin   9
11         boy   8
12       beach   8
13       party   8
14        tell   7
15         god   7
16        know   7
17      orange   7
18       still   7
19  copperhead   7

Most common words for CD 11: In The Rear View Mirror

           0   1
0       home  50
1      bring  49
2        'em  48
3       love  19
4       give  16
5      wings  15
6         us  14
7     reason  11
8             10
9       left  10
10    flying   9
11      high   9
12   running   8
13      girl   8
14      come   7
15  together   7
16       man   7
17      fire   7
18    'cause   7
19       fly   6

Most common words for CD 12: Vets Look Back

          0   1
0      hero  12
1      dead   9
2     mourn   8
3      land   8
4      free   8
5      want   8
6    follow   8
7             7
8     lawdy   6
9       i'm   5
10     army   5
11     wall   5
12     viet   4
13      vet   4
14     girl   4
15    never   4
16    women   4
17    still   4
18  fucking   3
19    every   3

Most common words for CD 13: Vietnam's After Effects

          0  1
0       got  7
1   vietnam  6
2    didn’t  6
3      even  6
4        oh  5
5    killed  5
6      know  5
7      soon  4
8      told  4
9   doctors  4
10  pacific  3
11     like  3
12    never  3
13     news  3
14  morning  3
15    might  3
16   shores  2
17      sea  2
18    heart  2
19     pass  2